.mainCardHolder {

  width: 100%;
  background-color: #242424;
  /* Lighter than #141516 */
  box-shadow:
    0 -2px 5px rgba(255, 255, 255, 0.1),
    /* Top white shadow, you can adjust opacity to make it more/less faint */
    0 2px 5px rgba(0, 0, 0, 0.5);
  /* Bottom black shadow */
  border-radius: 1rem;

}


.imgContainer {
  display: flex;
  align-items: center;
  padding-right: 0;




}

.btnContainer {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  font-size: clamp(1.5rem, 2.2rem, 3rem);
  background: linear-gradient(to right, #3C7FE3, #3EDCFF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.subTitle {

  font-size: clamp(1.5rem, 1.75rem, 2rem);
  margin-bottom: 5%;
  color: #D4D4D4;
  font-weight: bold;
}

.paragraph {
  font-size: 1.25rem;
  margin-bottom: 0;
  color: #D4D4D4
}

@media (max-width: 768px) {

  .title {

    font-size: 1.5rem;

  }

  .subTitle {

    font-size: 1.5rem;

  }

  .paragraph {
    font-size: 1.10rem;

  }

  .imgContainer {

    max-width: 25% !important;
    padding-right: auto;
  }


}

@media (max-width: 375px) {
  .title {
    font-size: 1.2rem; /* Adjust as needed */
  }

  .subTitle {
    font-size: 1.2rem; /* Adjust as needed */
  }

  .paragraph {
    font-size: 0.9rem; /* Adjust as needed */
  }

  .imgContainer {
    max-width: 15% !important; /* Adjust as needed */
    padding-right: auto;
  }

  .myButton {
    margin-top: 10px !important; /* Adjust as needed */
  }
}


@media (max-height: 428px) {

  .title {

    font-size: 1.35rem;

  }

  .subTitle {

    font-size: 1.35rem;

  }

  .paragraph {
    font-size: 1.0rem;

  }

  .imgContainer {

    max-width: 20% !important;
    padding-right: auto;
  }


  .myButton {

    margin-top: 15px !important;

  }

}

.myButton {

  width: 30%;

}

.imgContainer img {
  width: 100%;
  height: 100%;
}
