.servicesMain {
    display: flex;

    width: 100vw;
    height: auto;
    background: #191A1B;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    position: relative;

    box-shadow: 0px -4px 4px 0px rgba(58, 58, 58, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.50);


}

.contentMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    min-height: 50vh;
    margin-bottom: 40px;


}

.title {
    position: relative;
    color: transparent;
    font: bold clamp(48px, 5vw, 96px) arial, sans-serif;
    background-color: #070707;
    text-shadow: 1px 3px 3px rgba(54, 51, 51, 0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    align-self: flex-start;
    margin-left: 10%;

    z-index: 0 ;
  }

.cardBackground {
    display: flex;
    width: 87.5%;
    border-radius: 25px;
    background-color: #141516;
    box-shadow: 0px -4px 4px 0px rgba(58, 58, 58, 0.50) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.50) inset;
    flex-grow: 1;
}

.iconContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* repeat 5 columns with equal fractional widths */
    gap: 16px;  /* set the gap between grid items */
    align-content: space-between;
    align-items: center;
    justify-items: center;
    row-gap: 40px;

    margin: 20px;



  }

  .icon {
    display: flex;
    width: auto;
    height: auto;
    max-width: 100%;  /* make it responsive */
    max-height: 100%;

}

  .cardItemsContainer {
    width: 100%;
    flex-grow: 1;
}





@media (max-width: 960px) {

    .cardItemsContainer {
        flex-direction: column;
    }

    .title {

        width: 100%;
        text-align: center;
        margin-left: 0;
    }

}

/* Use media queries to adjust styles for smaller screens */
@media (max-width: 768px) {
    .iconContainer {
      grid-template-columns: repeat(3, 1fr); /* adjust the number of columns */
    }

    .icon {
      max-width: 80%; /* adjust the maximum width */
    }
  }

  @media (max-width: 480px) {
    .iconContainer {
      grid-template-columns: repeat(2, 1fr); /* adjust the number of columns */
    }

    .icon {
      max-width: 70%; /* adjust the maximum width */
    }
  }
