.footerMain {
    display: flex;
    align-items: center;
    background: transparent;
    min-height: 100vh;

    position: relative;

    margin-top:40px;
    overflow: hidden;



}

.footerContainer {
    background-color: transparent;
    z-index: 0;

}

.h1 {
    font: bold 75px arial, sans-serif;
    background-color: #070707;
    color: transparent;
    text-shadow: 1px 3px 3px rgba(54, 51, 51, 0.50);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    z-index: -1;

}

.h4 {
    max-width: 556px;
    margin-bottom: 50px;
}

.h6 {
    max-width: 500px;
    margin-bottom: 50px;
}

.h4, .h6 {
    color: white;
}

.footerRow{

    margin-bottom: 40px;
}

.noMargin {
    width: auto !important;
}




.specialText {
    color: #3EDCFF;

}

@media (max-width: 768px) {
    .footerRow {
        flex-direction: column;
        align-items: center;
    }

    .myButton {
        margin-bottom: 25px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 75% !important;
    }

    .footerContainer {
        text-align: center;
    }

    .h1 {
        font-size: 52px;
    }

    .h4 {
        margin-top: 50px;
        font-size: 30px;
        margin-bottom: 25px;
    }

    .buttonCol {
        margin-top: 250px;
    }
}
