.engravedText {
    font: bold 75px arial, sans-serif;
    background-color: #070707;
    color: transparent;
    text-shadow: 1px 3px 3px rgba(54, 51, 51, 0.30);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    z-index: -1;
}
