.topMain {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: transparent;
    position: relative;

}

.topMain::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #1A1B1C 100%);
    z-index: 1;
}

.title {

    font-size: clamp(2.5rem, 4vw, 4rem);
    font-weight: bold;

}

.title,
.subTitle {
    color: #FFF;

    margin-top: 25px;
    margin-bottom: 25px;

}

.subTitle {

    color: #FFF;
    text-align: center;

    font-style: normal;

    line-height: normal;


}

.gradientText {
    background: linear-gradient(to right, #2c6fd3, #3EDCFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradientWords {
    background: linear-gradient(to right, rgb(12, 171, 219), rgb(78, 187, 250));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.myContainer{

    height: fit-content;
}

.contentHolder {
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 2;


    text-align: center;
}

.backgroundVideo {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.fadeInOut {
    animation: fadeInOut 8s infinite;
    position: absolute;

}

.fadeInOut2 {
    animation: fadeInOut 8s infinite;
    animation-delay: 4s;

}

.button {

    margin-left: 25px;
    display: flex;
    justify-content: center;
}

.interMono {
    font-family: 'Roboto Mono', monospace;
}



@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 800px) {
    .topMain {
        flex-direction: column;
        justify-content: center;

    }

    .contentHolder {
        width: 100%;
        text-align: center;

    }

    .button {
        margin-left: 25px;
        display: flex;
        justify-content: center;
    }

    .myContainer {

        max-width: 100% !important;
    }

    .gradientWords {

        white-space: nowrap;

    }
}

@media (max-height: 767px) {
    .topMain {
        flex-direction: column;
        justify-content: flex-end;
    }

    .contentHolder {
        width: 100%;
        text-align: center;
    }

    .button {
        margin-left: 25px;
        display: flex;
        justify-content: center;
    }

    .myContainer {
        max-width: 100% !important;
    }

}
