.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#232323;
}

.mainContainer{
  background-color: transparent;
  width: 100vw;
}

@media (max-width: 767px) {

 .mainContainer{

 }
  
}