.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(22, 22, 22, 0.90) !important;
  backdrop-filter: blur(10px);
  z-index: 12;

}

.logoImg {
  height: auto;
  width: 75px;
  margin-right: 10px;
}

.nav-link {
  color: #7E7E7E !important;
  margin-left: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
  color: #3EDCFF;
  text-decoration: underline;
}

.aLink {
  color: #0077cc;
}

.noUnderline {
  text-decoration: none;
}

.omniLink {
  text-decoration: none !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.hamburgerMenu {
  height: 50px;
  width: 50px;
  visibility: hidden;
  cursor: none;
}

@media (max-width: 767px) {

  .omniLink {
    visibility: hidden;
  }

  .logoImg{
    margin: 0;
    transform: translateX(58px);

  }
  .noUnderline {
    top: 0;
    width: 100vw;

  }
  .navbarBrand{

    justify-content: center;
    align-items: center;
    top:0;
    margin: 0 !important;
  }

  .hamburgerMenu {
    position: absolute;
    top: 25px;
    right: 0;
    cursor: pointer;
    visibility: visible;
  }
}
