.claraResponse {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
padding:15px;
  background: linear-gradient(90deg, rgba(75, 82, 87, 0.00) 0%, rgba(75, 82, 87, 0.75) 48.44%, rgba(75, 82, 87, 0.00) 100%);
}

.submitMessage {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 100%;
  text-align: left;
  margin-bottom: 0;
  margin-left: 15px;
  width: 80%;


  white-space: pre-wrap;
  /* CSS3 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  overflow-wrap: break-word;
  /* Modern Browsers */
}


.iconImg {
  align-self: self-start;
}

.lineSeperator {
  opacity: 1;
  position: relative;
  border: none;
  height: 2px;
  width: auto;
  margin-top: 0;
  display: block;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 1.36%, #FFF 49.76%, rgba(255, 255, 255, 0.00) 98.15%);


}
