.centerSmallCardContainer {
    display: flex;
    height: 100%;
    width: 100%;
}

.smallCardContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.carouselItem {
    display: flex;
    flex-direction: column;
}

.dotsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.neonBlueDot {
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #ADD8E6;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: -50px;
}

.activeNeonBlueDot {
    display: block;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 2px solid #00FFFF;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: -50px;
}

.subTitle {
    background: var(--BlueGradientBtn, linear-gradient(90deg, #3C7FE3 0%, #3EDCFF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: clamp(23px, 2.5vw, 40px);
    margin-bottom: 50px;
}

.iconContainer {
    display: flex;
    height: 100%;
    width: auto;
}

.svgIcon {
    flex-shrink: 0;
    margin-right: 10px;
    align-self: center;
    width: clamp(59.315px, 5vw, 78.87px);
    /* min-size, flexible-size, max-size */
    height: auto;
}


.textContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.subSubTitle {
    color: #D4D4D4;
    font-size: clamp(24px, 1vw, 32px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description {
    color: #D4D4D4;
    font-size: clamp(15px, 1vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 75%;
}

.listContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bulletList {
    list-style-type: disc;
    margin-left: 20px;

    padding: 0;
}

.listItem,
.specialText {

    font-size: clamp(15px, 1vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFF;
    margin-bottom: 20px;
}

.specialText {
    color: #3EDCFF;
}


@media (max-width: 960px) {
    .subTitle {
        margin-bottom: 25px;
    }

    .description {
        width: 100%;
    }
}
